<template>
  <div :class="shapeClass" :style="shapeStyle" :ref="'element'">
    {{ block.weight }}
  </div>
</template>

<script>
import { computed } from "vue";

export default {
  props: {
    block: {
      type: Object,
      required: true,
    },
    side: {
      type: Boolean,
    },
    top: {
      type: Number,
    },
  },
  setup(props) {
    const roundUp = (number) => Math.round(number * 100) / 100;
    const shapeClass = computed(() => {
      const { type } = props.block;
      let shapeClass = "";

      switch (type) {
        case 0:
          shapeClass = "shape--circle";
          break;
        case 1:
          shapeClass = "shape--triangle";
          break;
        case 2:
          shapeClass = "shape--rectangle";
          break;
      }

      return shapeClass;
    });
    const shapeStyle = computed(() => {
      const { offset, type, height, color } = props.block;
      const topOffset = props.top || 0;
      const leftOffset = props.side ? 50 + offset * 10 : 50 - offset * 10;
      let blockHeight = {};

      if (type !== 1) {
        blockHeight = {
          height: `${roundUp(height)}px`,
          width: `${roundUp(height)}px`,
          lineHeight: `${roundUp(height)}px`,
          backgroundColor: `#${color}`,
        };
      } else {
        blockHeight = {
          borderWidth: `0 ${roundUp(height)}px ${roundUp(height)}px ${roundUp(
            height / 2
          )}px`,
          borderColor: `transparent transparent #${color} transparent`,
          lineHeight: `${roundUp(height * 1.2)}px`,
        };
      }
      return {
        top: `${topOffset}px`,
        left: `${leftOffset}%`,
        ...blockHeight,
      };
    });

    return { shapeClass, shapeStyle };
  },
  methods: {
    getBlockBottomCoord() {
      const domElement = this.$refs.element;

      return domElement.getBoundingClientRect().bottom;
    },
  },
};
</script>

<style lang="scss" scoped>
.shape {
  &--circle,
  &--rectangle,
  &--triangle {
    position: absolute;
    transform: translate(-50%, -100%);
    text-align: center;
  }

  &--circle {
    border-radius: 100%;
  }

  &--triangle {
    width: 0;
    height: 0;
    line-height: 4rem;
    border-style: solid;
  }
}
</style>
