<template>
  <div class="dropbox">
    <falling-block
      v-for="(block, index) in fallingBlocks"
      :key="block.id"
      :block="block"
      :index="index"
      :timeOut="timeOut"
      @finished-falling="onFinishFalling"
    />
  </div>
</template>

<script>
import { useStore } from "vuex";
import { computed, onBeforeMount, onBeforeUnmount, ref } from "vue";
import FallingBlock from "./FallingBlock";
import {
  ITERATION_COUNT_INCREASING,
  TIMEOUT_STEP_DECREASING,
  INITIAL_TIMEOUT,
} from "@/constants";

export default {
  components: {
    FallingBlock,
  },
  setup() {
    const store = useStore();
    let timeOut = ref(INITIAL_TIMEOUT);
    let iterationCounter = 0;

    const fallingBlocks = computed(() => store.state.teeter.fallingBlocks);
    const initializeFallingBlocks = () =>
      store.commit("teeter/INITIALIZE_FALLING_BLOCKS");
    const moveBlockRight = () => store.commit("teeter/MOVE_RIGHT");
    const moveBlockLeft = () => store.commit("teeter/MOVE_LEFT");

    const onKeyDown = (e) => {
      if (e.keyCode === 39) {
        moveBlockRight();
      }
      if (e.keyCode === 37) {
        moveBlockLeft();
      }
    };
    const onFinishFalling = () => {
      iterationCounter++;

      if (iterationCounter === ITERATION_COUNT_INCREASING) {
        timeOut.value -= TIMEOUT_STEP_DECREASING;
        iterationCounter = 0;
      }
    };

    onBeforeMount(() => {
      initializeFallingBlocks();
      window.addEventListener("keydown", onKeyDown);
    });

    onBeforeUnmount(() => {
      window.removeEventListener("keydown", onKeyDown);
    });

    return { timeOut, fallingBlocks, onFinishFalling };
  },
};
</script>

<style lang="scss" scoped>
.dropbox {
  height: 65%;
  width: 100%;
  position: relative;
}
</style>
