<template>
  <header class="header">
    <div class="container">
      <strong>Teeter Totter</strong>

      <div class="header__actions">
        <button @click="togglePause" class="btn__base">
          <template v-if="isPaused">play</template>
          <template v-if="!isPaused">pause</template>
        </button>
        <button @click="resetGame" class="btn__base">replay</button>
      </div>
    </div>
  </header>
  <main class="main">
    <div class="container teeter-totter">
      <score-board />
      <play-ground />
    </div>
  </main>
</template>

<script>
import { useStore } from "vuex";
import { computed } from "vue";
import ScoreBoard from "@/components/TeeterTotter/ScoreBoard";
import PlayGround from "@/components/TeeterTotter/PlayGround";

export default {
  components: {
    ScoreBoard,
    PlayGround,
  },
  setup() {
    const store = useStore();
    const isPaused = computed(() => store.state.teeter.isPaused);
    const alertStatus = computed(() => store.state.teeter.alertStatus);
    const togglePause = () => store.commit("teeter/TOGGLE_PAUSE");
    const resetGame = () => store.dispatch("teeter/START_NEW_GAME");

    return { isPaused, alertStatus, togglePause, resetGame };
  },
};
</script>

<style lang="scss">
.btn__base {
  color: rgba(255, 255, 255, 0.5);
  background-color: #2f3741;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
  line-height: 1;
  padding: 0.4rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: #2f3741;
  }
}
.header__actions {
  .btn__base {
    &:last-child {
      margin-left: 1rem;
    }
  }
}
.teeter-totter {
  display: flex;
  flex-direction: column;
  height: 80vh;
}
</style>
