<template>
  <div class="playground">
    <dropbox />

    <div class="swing">
      <div class="swing__bar" :style="swingTransform">
        <block v-for="block in leftSideBlocks" :block="block" :key="block.id" />
        <block
          v-for="block in rightSideBlocks"
          :key="block.id"
          :block="block"
          :side="true"
        />
      </div>
      <div class="swing__base"></div>
    </div>
  </div>
</template>

<script>
import { computed, onMounted } from "vue";
import { useStore } from "vuex";
import Dropbox from "./Dropbox";
import Block from "./CreateBlock";

export default {
  components: {
    Dropbox,
    Block,
  },
  setup() {
    const store = useStore();

    const leftSideBlocks = computed(() => store.state.teeter.leftSideBlocks);
    const rightSideBlocks = computed(() => store.state.teeter.rightSideBlocks);
    const swingBending =
      computed(() => store.getters["teeter/swingBending"]) || 0;
    const swingTransform = computed(() => {
      return `transform: rotate(${swingBending.value / 2}deg)`;
    });
    const addRightBlock = () => store.commit("teeter/ADD_RIGHT_SIDE_BLOCK");

    onMounted(() => {
      addRightBlock();
    });

    return { rightSideBlocks, leftSideBlocks, swingTransform };
  },
};
</script>

<style lang="scss" scoped>
.playground {
  width: 80%;
  height: 100%;
  margin: auto auto 0;
  display: flex;
  flex-direction: column;
}
.swing {
  height: 35%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;

  &__bar {
    width: 100%;
    height: 5px;
    background-color: red;
    position: relative;
    transform: rotate(0deg);
    transition: transform 0.4s ease-in-out;
  }

  &__base {
    width: 0;
    height: 0;
    margin: 0 auto;
    border-style: solid;
    border-width: 0 100px 150px 100px;
    border-color: transparent transparent #ccc transparent;
  }
}
</style>
