<template>
  <div class="score-board">
    <ul class="score-info">
      <li>
        <b>Total Weight:</b> <span>{{ leftSum }}</span>
      </li>
      <li><b>Momentum:</b> <span>0</span></li>
    </ul>

    <ul class="score-info">
      <li>
        <b>Total Weight:</b> <span>{{ rightSum }}</span>
      </li>
      <li><b>Momentum:</b> <span>0</span></li>
    </ul>
  </div>
</template>

<script>
import { useStore } from "vuex";
import { computed } from "vue";

export default {
  setup() {
    const store = useStore();
    const leftSum = computed(() => store.getters["teeter/leftSum"]);
    const rightSum = computed(() => store.getters["teeter/rightSum"]);

    return { leftSum, rightSum };
  },
};
</script>

<style lang="scss" scoped>
.score {
  &-board {
    display: flex;
    justify-content: space-between;
  }

  &-info {
    padding: 1rem 2rem;
    margin: 0;
    list-style-type: none;
    background-color: #e0e1e3;
    border-radius: 0 0 10px 10px;
    width: 15rem;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: left;

      &:not(:last-child) {
        border-bottom: 1px solid #ededed;
        padding-bottom: 0.5rem;
        margin-bottom: 0.5rem;
      }

      span {
        text-align: right;
      }
    }
  }
}
</style>
