<template>
  <teeter-totter />
</template>

<script>
import TeeterTotter from "@/components/TeeterTotter/Index";

export default {
  name: "App",
  components: {
    TeeterTotter,
  },
};
</script>

<style lang="scss">
html {
  font-size: 1.25vw;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  height: 5vw;
  padding: 1vw 0;
  background-color: #2ecc71;
  color: white;

  & > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.main {
  height: 95vw;
  background-color: #fbfdfc;

  & > div {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.container {
  display: flex;
  padding: 0 1rem;
  margin: 0 auto;
}
</style>
